*.swp
*.sqlite3
.arduino-tools
.arduino-build
output
*.d
*.o
*.a
*.hex
*.eep
*.elf
*.tar.gz
*.pyc
update_pending
avrdude_config
utils/ctng
utils/arm-toolchain-build
utils/linux-sunxi
utils/u-boot-sunxi
utils/sunxi-tools
utils/buildroot
utils/pythonenv
rootfs-additions
