{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-xs-8">
        <div class="panel panel-default">
            <div class="panel-heading">
            Producto actual
            </div>
            <div class="panel-body">
                <form action="" method="post">
                    <div class="row">
                        <div class="col-xs-8">
                            <select name="currentProduct" class="form-control">
                                {% for id,name in products %}
                                {% if id == selected_product %}
                                <option value="{{ id }}" selected="selected">{{ name }}</option>
                                {% else %}
                                <option value="{{ id }}">{{ name }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-xs-4">
                            <div class="btn-group">
                                <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-floppy-disk"></span></button>
                               <a href="{{ url_for('dashboard') }}" class="btn btn-default"><span class="glyphicon glyphicon-repeat"></span></a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
            Mediciones recientes
            </div>
            <div class="panel-body">
              <span>Mostrando las 15 m&aacute;s recientes.</span>
              <table id="measurements" class="table">
                <tr><th>#</th><th>Escala</th><th>Peso</th><th>Hora</th></tr>
              </table>
            </div>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="panel panel-default">
            <div class="panel-heading">
            Acciones
            </div>
            <ul class="list-group">
                <li class="list-group-item"><a href="{{ url_for('reboot') }}"> Reiniciar</a></li>
                <li class="list-group-item"><a href="{{ url_for('shutdown') }}">Apagar</a></li>
                <li class="list-group-item"><a href="{{ url_for('netconfig') }}">Configurar red</a></li>
                <li class="list-group-item"><a href="{{ url_for('changepass') }}">Cambiar contrase&ntilde;a</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block additionaljs %}
    <script>

        var webSocket = null;
        var webSocketURI = "ws://{{serverAddr}}:{{serverPort}}/ws";
        var measurementID = 0;
        var maxMeasurements = 15;

        $(document).ready(function() {
            webSocket = new WebSocket(webSocketURI);
            
            webSocket.onopen = function() {
                console.log("Conectado a: " + webSocketURI);
                webSocket.send(JSON.stringify({'command' : 'update_dashboard'}))
            }

            webSocket.onclose = function(e) {
                console.log("Desconectado de: " + webSocketURI + ", " + e);
            }

            webSocket.onmessage = function(e) {

                var data = JSON.parse(e.data);
                var scale_id = data['scale_id'];
                var weight = data['weight'];
                var timestamp = data['timestamp'];
                measurementID+= 1;
                var rowID = "measurement"+measurementID;
                var row = "<tr id=\""+rowID+"\"><td>"+measurementID+"</td><td>"+scale_id+"</td><td>"+weight+"</td><td>"+timestamp+"</td></tr>";
                $("#measurements > tbody").append(row);
                if(measurementID > maxMeasurements) {
                    rowID = "#measurement"+(measurementID-maxMeasurements);
                    $(rowID).remove();
                }               
            }
        });


        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("active");
        });

    </script>
{% endblock %}
